VPN_CONN=vrp
VPN_CHILD=vrp-child

# Set your VPN gateway/remote values.
VPN_SERVER=
VPN_SERVER_ADDR=
VPN_REMOTE_ID=
VPN_LOCAL_ID=%any

# Set your real credentials in config/vpn.env.
VPN_USERNAME=your.user
VPN_PASSWORD=change_me

# You can tune proposals if your gateway requires different ciphers.
VPN_IKE_PROPOSAL=aes256-sha256-modp2048
VPN_ESP_PROPOSAL=aes256-sha256-modp2048
