[Desktop Entry]
Type=Application
Version=1.0
Name=Firefox (Work)
Comment=Firefox from work_container
Exec=__RUNNER_BIN__ firefox
Icon=firefox-dev
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true
StartupWMClass=Firefox-work
