[Desktop Entry]
Type=Application
Version=1.0
Name=Google Chrome (Work)
Comment=Google Chrome from work_container
Exec=__RUNNER_BIN__ google-chrome
Icon=com.google.ChromeDev
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true
StartupWMClass=Google-chrome-work
